body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

td {
  height: 16px;
  width: 16px;
  box-sizing: border-box;

  background-size: cover;
}

#playerCharacter {
  margin: auto;

  height: 75%;
  width: 75%;
  background-color: red;
}

#gameBoundary {
  border-collapse: collapse;
  width: 800px;
  height: 800px;
  margin: 4px
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}