body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  background-image: url('img/dirt_bg.webp');
  background-size: cover;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

td {
  height: 32px;
  width: 32px;
  box-sizing: border-box;

  background-size: cover;
}

.isAProp {
  margin: auto;

  height: 75%;
  width: 75%;
  background-size: cover;
  background-repeat: no-repeat;
}

#playerCharacter {
  margin: auto;

  height: 75%;
  width: 75%;
  background-size: cover;
  background-image: url('img/entities/player_sprite.png');
  background-repeat: no-repeat;
  background-position: -1px, 0;
}

#gameBoundary {
  border-collapse: collapse;
  width: 800px;
  height: 800px;
  margin: 4px;
  border: 2px solid white;
}

#minimap {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  margin-bottom: 595px;
}